node_modules/
.DS_Store
build/
dist/

src/custom-presets
.DB_Store
*.log
.DS_Store

src/frameworks/ContentSync.framework/ContentSync.build

Contents/Sketch/frameworks/ContentSync.framework/ContentSync.js
Contents/Sketch/frameworks/ContentSync.framework/Images.xcassets/
Contents/Sketch/frameworks/ContentSync.framework/Versions/

SketchContentSync.sketchplugin/Contents/Sketch/frameworks/ContentSync.framework/ContentSync.js
SketchContentSync.sketchplugin/Contents/Sketch/frameworks/ContentSync.framework/Images.xcassets/
SketchContentSync.sketchplugin/Contents/Sketch/frameworks/ContentSync.framework/Versions/

release.sh


