<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>167198436389-2omtmuiiuifem8vp835ftshj352en76k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.167198436389-2omtmuiiuifem8vp835ftshj352en76k</string>
	<key>API_KEY</key>
	<string>AIzaSyC5YBy1va4c4HVUKiprMrY0XrmtEEi0cvQ</string>
	<key>GCM_SENDER_ID</key>
	<string>167198436389</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.syncify.contentsync.sketch</string>
	<key>PROJECT_ID</key>
	<string>contentsync-940b7</string>
	<key>STORAGE_BUCKET</key>
	<string>contentsync-940b7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:167198436389:ios:229f17e909f3085f</string>
	<key>DATABASE_URL</key>
	<string>https://contentsync-940b7.firebaseio.com</string>
</dict>
</plist>
